@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
  width: auto;
  height: 100%;
}

/*Styling for back to top button*/

#back-to-top {
  position: fixed;
  bottom: 70px;
  right: 10px;
  background: rgba(35, 39, 42, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 2px;
    top: 5px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top:hover {
    background: #cd5c5c;
}
#back-to-top:hover i {
    color: #fff;
    top: 0px;
}

.fa-chevron-up {
  font-size: 30px;
  padding:10px 14px;

}

/* HEADER elements*/
.header {
  height: 1080px;
  background-color: #23272a;
}


.logo {
  padding-top: 20px;
  text-align: center;
  height: 35vh;
}

.profile-pic {
    border-radius: 50%;
}

/* Title
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
.title {
  color: #f2f2f2;
  font-size: 100px;
  height: auto;
  width: 60%;
  margin: 0px auto;
  font-family: 'Intro', sans-serif;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  border-style: solid;
  border-color: white;
  word-wrap: break-word;
}



/* navigation bar
  - background colour
  -
*/

nav,
.navbar-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  z-index: 10;
  background-color: rgba(44, 47, 51, 0.95);
  opacity: 90%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.nav-hide { display: none; }

nav ul {
  vertical-align: middle;
  width: 100%;
  margin-top: 4em;

}

nav ul li {
  list-style: none;
  width: 100%;

}

nav ul li a {
  font-size: 35pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;

  display: block;
  width: 100%;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.55);
}


.navbar-toggle {
  position: fixed;
  vertical-align: middle;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}


/*Hamburger icon toggle transitions and transformations*/
.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 5px;
  margin-top: 6px;
  margin-bottom: 8px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3 { background-color: white; }

.navbar-on .bar1 {
  transform-origin: 10% 40%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  transform-origin: 10% 40%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 { background-color: transparent; }

/*
 When the screen is less than 600 pixelwide, hide all links, except for the
 first one ("Home"). Show the link that contains should open and close the topnav
 (.icon)
*/
@media screen and (max-width: 650px){
  .logo {
    margin:auto;
    height: 150px;
    width: 100%;
  }
  .title {
    padding-top: 20px;
    width: 90%;
    font-size: 90px;
  }

  .header {
    text-align: center;
    width: 100%;
  }

}

@media screen and (max-width: 1000px){

  .title {
    padding-top: 20px;
    width: 75%;
    font-size: 90px;
  }

  .header {
    text-align: center;
    width: 100%;
  }

}






/*Main content */

.main {
  background-color: #2f3438;
  height: 100vh;

}















/*Footer*/

.footer {
  width: 100%;
  height: 150px;
  background: #333;
}


/*Social icons in the footer*/
.footer-social-icons {
  padding-top: 2em;
  text-align: center;
}


.social-icons li {
  display: inline;
  padding: 20px;
  font-size: 40px;
}

.social-icon {
    color: #fff;

}

.social-icons a {
    color: #fff;
    text-decoration: none;

}

.fa-linkedin {
    font-size: inherit;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
  font-size: inherit;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;

}
.fa-github:hover {
    background-color: #6e5494;
}

.fa-facebook {
  font-size: inherit;

    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-google-plus {
    font-size: inherit;
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;

}
.fa-google-plus:hover {
    background-color: #e25714;
}

.fa-youtube {
    font-size: inherit;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;

}
.fa-youtube:hover {
    background-color: #e64a41;
}




/*FONT FACES*/
@font-face {
    font-family: 'Intro';
    src: url('fonts/Intro.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
